/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header, section, footer {
  padding: 30px; }

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

ul li {
  list-style: none; }

a:link {
  text-decoration: none;
  color: #000000; }

a:visited {
  text-decoration: none;
  color: #000000; }

.container {
  width: 100%;
  padding: 30px;
  max-width: 2000px; }
  .container div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    font-size: 14px; }
    .container div a .logo-lima {
      width: 150px; }
    .container div nav .navbar-toggler {
      border: 2px solid #000000; }
    .container div nav .container-fluid {
      padding-right: 5px; }
    @media screen and (max-width: 830px) {
      .container div .redes-header {
        display: none; } }
    @media screen and (max-width: 768px) {
      .container div .redes-header {
        display: none; } }
    .container div .redes-header a img {
      width: 25px; }

/* estilos de slide principal */
main .slide-principal {
  width: 100%;
  height: 800px;
  display: flex;
  object-fit: cover;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  /*/// mq de tablet slide principal ///*/ }
  @media screen and (max-width: 960px) {
    main .slide-principal {
      width: 100%;
      height: 400px; } }
  @media screen and (max-width: 576px) {
    main .slide-principal {
      width: 100%;
      height: 400px; } }
  main .slide-principal .slide img {
    flex: 0 0 auto;
    scroll-snap-align: start; }

main .contenedor-grid {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%; }
  @media screen and (max-width: 576px) {
    main .contenedor-grid {
      display: block;
      object-fit: cover; } }
  main .contenedor-grid .modulo-grid {
    padding: 15px; }
    main .contenedor-grid .modulo-grid a img {
      width: 100%;
      height: 250px;
      display: block;
      object-fit: cover; }

main .titulo-subtitulo {
  margin: 20%; }
  main .titulo-subtitulo .titulo {
    text-align: center;
    font-size: 25px;
    font-style: normal; }
  main .titulo-subtitulo .subtitulo {
    text-align: center;
    font-size: 14px; }

main .contenido-productos-home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  padding: 0% 10% 5% 10%;
  padding-left: 10%;
  padding-right: 10%; }
  main .contenido-productos-home .modulo-producto-home img {
    width: 250px;
    height: 300px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s; }
  main .contenido-productos-home .modulo-producto-home:hover {
    transform: scale(1.02);
    text-decoration: none; }
  main .contenido-productos-home .modulo-producto-home:active {
    transform: scale(0.9);
    background-color: #a9e159; }

main .slide-produccion {
  width: 100%;
  height: 400px;
  display: flex;
  object-fit: cover;
  overflow-x: auto;
  scroll-snap-type: x mandatory; }
  main .slide-produccion .slide-prod img {
    flex: 0 0 auto;
    scroll-snap-align: start; }

main .seccion-newsletter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center; }
  main .seccion-newsletter div .email-form input:focus-visible {
    outline-color: #a9e159;
    border-color: #a9e159;
    box-shadow: none; }
  main .seccion-newsletter div .email-form input {
    margin: 20px;
    border-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 350px;
    height: 40px;
    text-align: center;
    font-size: 14px;
    border-radius: 50px;
    text-decoration: none; }
  main .seccion-newsletter .seguinos-redes .titulo {
    font-size: 25px;
    text-align: center; }
  main .seccion-newsletter .seguinos-redes a img {
    margin: 5px;
    height: 30px; }

main .sitemap {
  display: grid;
  grid-template-columns: 6fr 1fr 1fr;
  padding-left: 10%;
  padding-right: 10%; }
  @media screen and (max-width: 576px) {
    main .sitemap {
      display: grid;
      grid-template-columns: 1fr; } }
  main .sitemap .texto-sitemap {
    width: 50%; }
    @media screen and (max-width: 576px) {
      main .sitemap .texto-sitemap {
        grid-template-columns: 1fr;
        width: 100%; } }
    main .sitemap .texto-sitemap .logo-footer {
      width: 120px; }
    main .sitemap .texto-sitemap p {
      padding-top: 10px;
      font-size: 14px; }
    main .sitemap .texto-sitemap h4 {
      display: inline-block; }
  @media screen and (max-width: 576px) {
    main .sitemap .lista-sitemap {
      display: grid;
      padding-top: 15px; } }
  @media screen and (max-width: 576px) {
    main .sitemap .lista-sitemap ul {
      padding-left: 0; } }
  main .sitemap .lista-sitemap ul li a {
    font-size: 14px;
    list-style: none;
    text-decoration: none; }

main .titulo-subtitulo {
  margin: 20px; }
  main .titulo-subtitulo .titulo {
    text-align: center;
    font-size: 25px;
    font-style: normal; }
  main .titulo-subtitulo .subtitulo {
    text-align: center;
    font-size: 14px; }

main .pantalla-productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5% 10% 8% 10%;
  gap: 15px; }
  main .pantalla-productos .modulo-producto img {
    width: 250px;
    height: 300px;
    object-fit: cover; }
  main .pantalla-productos .modulo-producto .titulo-producto {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600; }
  main .pantalla-productos .modulo-producto .descripcion-producto {
    font-size: 14px; }
  main .pantalla-productos .modulo-producto .boton-ver-mas {
    margin-top: 10px;
    display: block;
    width: 100px;
    height: 30px;
    padding: 5px;
    background-color: #a9e159;
    color: #000000;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s; }
  main .pantalla-productos .modulo-producto .boton-ver-mas:hover {
    transform: scale(1.1);
    text-decoration: none; }
  main .pantalla-productos .modulo-producto .boton-ver-mas:active {
    transform: scale(0.9);
    background-color: #a9e159; }

main .modulo-banner img {
  width: 100%;
  height: 300px;
  display: grid;
  object-fit: cover;
  padding-top: 30px; }

main .grid-images {
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 30px;
  padding-left: 10%;
  padding-right: 10%; }
  main .grid-images div img {
    width: 100%;
    flex-wrap: wrap;
    object-fit: cover; }
  main .grid-images .img-ampliacion img {
    height: 600px; }
    @media screen and (max-width: 960px) {
      main .grid-images .img-ampliacion img {
        height: 600px; } }
    @media screen and (max-width: 768px) {
      main .grid-images .img-ampliacion img {
        height: 400px; } }
  @media screen and (max-width: 960px) {
    main .grid-images .img-ampliacion {
      grid-column: span 2; } }
  main .grid-images .img-miniatura .img-dos {
    padding-top: 15px; }
    @media screen and (max-width: 960px) {
      main .grid-images .img-miniatura .img-dos {
        padding-top: 0px; } }
  @media screen and (max-width: 960px) {
    main .grid-images .img-miniatura {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px; } }

main .nombre-producto {
  padding: 0% 10% 5% 10%;
  width: 100%; }
  main .nombre-producto .nombre-item-prod {
    font-size: 30px; }
  main .nombre-producto p {
    width: 80%;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5; }
  main .nombre-producto h3 {
    font-size: 40px; }
  main .nombre-producto .boton-comprar {
    margin-top: 10px;
    margin-bottom: 20px;
    display: block;
    width: 200px;
    height: 40px;
    padding: 5px;
    background-color: #a9e159;
    color: #000000;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s; }
  main .nombre-producto .boton-comprar:hover {
    transform: scale(1.1);
    text-decoration: none; }
  main .nombre-producto .boton-comprar:active {
    transform: scale(0.9);
    background-color: #a9e159; }

main .compra-exitosa {
  padding: 10% 20% 10% 20%;
  text-align: center; }
  @media screen and (max-width: 576px) {
    main .compra-exitosa {
      padding: 20% 20% 20% 20%;
      text-align: center; } }
  main .compra-exitosa .titulo {
    font-size: 25px;
    font-style: normal; }
    main .compra-exitosa .titulo .subtitulo {
      font-size: 14px; }
    main .compra-exitosa .titulo .descripcion {
      font-size: 14px;
      color: #898989;
      font-style: italic; }

main .locales {
  display: flex;
  flex-direction: row;
  align-content: center;
  gap: 50px;
  flex-wrap: wrap;
  padding: 50px; }
  main .locales .info-locales div h2 {
    font-size: 20px; }
  main .locales .info-locales div p {
    font-size: 14px; }
  main .locales .info-locales div .boton-visitar {
    margin-top: 10px;
    margin-bottom: 20px;
    display: block;
    width: 100px;
    height: 30px;
    padding: 5px;
    background-color: #a9e159;
    color: #000000;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 50px; }
  main .locales iframe {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    object-fit: cover; }
    @media screen and (max-width: 576px) {
      main .locales iframe {
        width: 100%;
        max-height: 500px; } }

main .modulo-sobre-nosotras {
  position: relative;
  padding-bottom: 200px; }
  @media (max-width: 960px) {
    main .modulo-sobre-nosotras {
      position: static;
      padding-bottom: 10px; } }
  main .modulo-sobre-nosotras .img-nosotras {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    object-fit: cover;
    width: 60%;
    height: 600px; }
    @media (max-width: 960px) {
      main .modulo-sobre-nosotras .img-nosotras {
        width: 100%;
        height: 400px; } }
  main .modulo-sobre-nosotras .texto-sobre-nosotras {
    position: absolute;
    top: 70%;
    left: 60%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.7);
    padding: 30px;
    width: 700px;
    font-size: 14px; }
    @media (max-width: 960px) {
      main .modulo-sobre-nosotras .texto-sobre-nosotras {
        width: 100%;
        position: static;
        transform: none;
        text-align: justify;
        align-items: center;
        align-content: center;
        padding-left: 50px;
        padding-right: 50px; } }

main .recibimos-tu-consulta {
  padding: 15% 15% 15% 15%;
  text-align: center; }
  @media screen and (max-width: 576px) {
    main .recibimos-tu-consulta {
      padding: 20% 20% 20% 20%;
      text-align: center; } }
  main .recibimos-tu-consulta .titulo {
    text-align: center;
    font-size: 25px;
    font-style: normal; }
    main .recibimos-tu-consulta .titulo .subtitulo {
      text-align: center;
      font-size: 14px; }

/* estilos de pantalla contacto */
.formulario {
  padding-top: 5%;
  padding-left: 15%;
  padding-right: 15%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  gap: 30px; }

.info-contacto {
  width: 100%;
  align-self: first baseline; }

.info-contacto {
  font-size: 16px;
  line-height: 1.2; }

.form-consulta input:focus-visible {
  outline-color: #a9e159;
  border-color: #a9e159;
  box-shadow: none; }

.input-consulta {
  outline-color: #a9e159;
  border-color: #a9e159;
  box-shadow: none; }

/*/// mq de tablet ///*/
@media (max-width: 768px) {
  .formulario {
    grid-template-columns: repeat(1, 1fr);
    place-items: center; }
  .info-contacto {
    padding-top: 30px; } }

/*/// mq de mobile ///*/
@media (max-width: 576px) {
  .formulario {
    padding-left: 10%;
    padding-right: 10%;
    place-items: center; }
  .info-contacto {
    padding-top: 30px; } }

/* estilo de input y boton formulario */
.form-consulta div .input-nombre, .form-consulta div .input-email {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 40px;
  text-align: center;
  font-size: 14px;
  border-radius: 50px;
  text-decoration: none;
  border-color: transparent;
  margin-bottom: 15px; }

.input-consulta {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  align-items: end;
  align-content: center;
  width: 400px;
  height: 250px;
  text-align: center;
  font-size: 14px;
  border-radius: 30px;
  text-decoration: none;
  border-color: transparent; }

.boton-enviar {
  margin-top: 15px;
  width: 100px;
  height: 30px;
  background-color: #a9e159;
  color: #000000;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s; }

.clic-boton:hover {
  transform: scale(1.1);
  text-decoration: none; }

.clic-boton:active {
  transform: scale(0.9);
  background-color: #a9e159; }

.clic-action {
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s; }

.clic-action:hover {
  transform: scale(0.9); }

/* estilos del footer */
.estilo-footer {
  width: 100%;
  border-top: 1px solid #000000;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  @media screen and (max-width: 960px) {
    .estilo-footer {
      grid-template-columns: 6fr 1fr; } }
  @media screen and (max-width: 576px) {
    .estilo-footer {
      display: flex;
      flex-direction: column;
      align-items: center; } }
  .estilo-footer .copyrigth p {
    display: flex;
    flex-direction: row;
    display: inline-block;
    text-align: left;
    font-size: 12px; }
  .estilo-footer .icon-footer a img {
    display: inline-block;
    height: 20px; }
