@import "../base/variables";
@import "mixin";

.container{
    width: $width-principal;
    padding: 30px;
    max-width: 2000px;
    div{
        width: $width-principal;
        @include flex-header;
        font-size: 14px;
        a{
            .logo-lima{
                width: 150px;
            }
        }
        nav{
            .navbar-toggler{
                border: 2px solid #000000;
            }
            .container-fluid{
                padding-right: 5px;
            }
        }
        .redes-header{
            @media screen and (max-width:830px){
                display: none;
            }
            @media screen and (max-width:768px){
                display: none;
            }
            a{
                img{
                    width: 25px;
                }
            }
        }
    }
}

/* estilos de slide principal */

main{
    .slide-principal{
        width: $width-principal;
        height: 600px;
        display: flex;
        object-fit: cover;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        /*/// mq de tablet slide principal ///*/
        @media screen and (max-width:960px){
            width: $width-principal;
            height: 400px;
        }
        @media screen and (max-width:576px){
            width: $width-principal;
            height: 400px;
        }
        .slide{
            img{
                flex: 0 0 auto;
                scroll-snap-align: start;            
            }
        }
    }
    .contenedor-grid{
        display: grid;
        grid-template-columns: 33.33% 33.33% 33.33%;
        @media screen and (max-width:576px){
            display: block;
            object-fit: cover;
        }
        .modulo-grid{
            padding: 15px;
            a{
                img{
                    width: $width-principal;
                    height: 250px;
                    display: block;
                    object-fit: cover;                
                }
            }
        }
    }
    .titulo-subtitulo {
        margin: 20%;
        .titulo {
            text-align: center;
            font-size: 25px;
            font-style: normal;
        }
        .subtitulo{ 
            text-align: center;
            font-size: 14px;
        }        
    }
    .contenido-productos-home{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
        padding: 0% 10% 5% 10%;
        .modulo-producto-home{
            img{
                width: 250px;
                height: 300px;
                object-fit: cover;
                cursor: pointer;
                transition: transform 0.3s, background-color 0.3s;
            }
        }
        .modulo-producto-home:hover{
            transform: scale(1.02);
            text-decoration: none;
        }
            
        .modulo-producto-home:active{
            transform: scale(0.9);
            background-color: $color-lima;
        }
    }
    .slide-produccion{
        width: $width-principal;
        height: 400px;
        display: flex;
        object-fit: cover;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        .slide-prod{
            img{
                flex: 0 0 auto;
                scroll-snap-align: start;            
            }
        }
    }
    .seccion-newsletter{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        div{
            .email-form input:focus-visible{
                outline-color: $color-lima;
                border-color: $color-lima;
                box-shadow: none;
            }
            .email-form input{
                @include mail-newsletter;
            }
        }
        .seguinos-redes{
            .titulo{
                font-size: 25px;
                text-align: center;
            }
            a{
                img{
                    margin: 5px;
                    height: 30px;                
                }
            }
        }
    }
    .sitemap{
        display: grid;
        grid-template-columns: 6fr 1fr 1fr;
        padding-left: 10%;
        padding-right: 10%;
        @media screen and (max-width:576px){
            display: grid;
            grid-template-columns: 1fr;
        }
        .texto-sitemap{
            width: 50%;
        @media screen and (max-width:576px){
            grid-template-columns: 1fr;
            width: $width-principal;
            }
            .logo-footer{
                width: 120px;
            }
            p{
                padding-top: 10px;
                font-size: 14px;
            }
            h4{
                display: inline-block;
            }            
        } 
        .lista-sitemap{
        @media screen and (max-width:576px){
            display: grid;
            padding-top: 15px;
        }
            ul{
            @media screen and (max-width:576px){
                padding-left: 0;
            }
                li{
                    a{
                        font-size: 14px;
                        list-style: none;
                        text-decoration: none;    
                    }
                }
            }
        }
    }
    .titulo-subtitulo {
        margin: 20px;
        .titulo {
            text-align: center;
            font-size: 25px;
            font-style: normal;
        }
        .subtitulo{
            text-align: center;
            font-size: 14px;
        }
    }
}
/* estilos del footer */

.estilo-footer {
    width: 100%;
    border-top: 1px solid #000000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media screen and (max-width:960px){
        grid-template-columns: 6fr 1fr;
    }
    @media screen and (max-width:576px){
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .copyrigth{
        p{
            display: flex;
            flex-direction: row;
            display: inline-block;
            text-align: left;
            font-size: 12px;
        }
    }
    .icon-footer{
        a{
            img{
                display: inline-block;
                height: 20px;
            }
        }
    }
}